body {
    margin: 0;
    padding: 0;
    padding-bottom: 10rem;
    background-color: #9cab94;
}

#header {
    position: relative;
}

#photo {
    width: 100%;
}

#counter-block {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: -50px;
}

.clock-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #374936;
    border-radius: 6px;
    width: 6rem;
    height: 6rem;
}

.clock-square span:nth-child(1) {
    margin-top: 6px;
    color: #bbbbbb;
}

.clock-square span:nth-child(2) {
    font-size: 3rem;
    color: #d5cfdd;
}

#date {
    position: relative;
    top: -40px;
    color: #e9ece6;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

#basics {
    background-color: #38463f;
    color: #e9ece6;
    position: relative;
    padding-top: 20px;
    padding-bottom: 120px;
}

.halfed {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.centered {
    text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

.box1 {
    background-color: #70587f;
    color: #e9ece6;
    padding: 0 40px 40px 40px;
    margin-bottom: 50px;
    position: relative;
    left: -100px;
    top: -85px;
}

.box2 {
    background-color: #774e6c;
    color: #e9ece6;
    padding: 0 40px 60px 40px;
    margin-bottom: 50px;
    position: relative;
    right: 0px;
    top: 100px;
}

.program-time {
    font-weight: bold;
}
