@font-face {
    font-family: TJFont;
    src: url(TJFont.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #9cab94;
}

h1, h2, h3 {
    font-family: TJFont;
}

#header {
    position: relative;
}

#photo {
    width: 100%;
}

#counter-block {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: -50px;
}

.clock-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #374936;
    border-radius: 6px;
    width: 6rem;
    height: 6rem;
}

.clock-square span:nth-child(1) {
    margin-top: 6px;
    color: #bbbbbb;
}

.clock-square span:nth-child(2) {
    font-size: 3rem;
    color: #d5cfdd;
    font-family: TJFont;
    margin-top: -6px;
}

#date {
    position: relative;
    top: -40px;
    color: #e9ece6;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

#basics {
    background-color: #38463f;
    color: #e9ece6;
    position: relative;
    padding-top: 20px;
    padding-bottom: 120px;
}

.halfed {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.centered {
    text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

.box1 {
    background-color: #70587f;
    color: #e9ece6;
    padding: 0 90px 40px 40px;
}

.box2 {
    background-color: #774e6c;
    color: #e9ece6;
    padding: 0 40px 60px 40px;
}

.program-time {
    font-weight: bold;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    border: 2px solid white;
}

.c1 {
    background-color: #774e6c;
}

.c2 {
    background-color: #70587f;
}

.c3 {
    background-color: #d5cfdd;
}

.c4 {
    background-color: #9ca994;
}

.c5 {
    background-color: #374936;
}

.c6 {
    background-color: #38463f;
}


.box-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    top: -80px;
}

.box1 { grid-area: 1 / 1 / 10 / 7; }
.box2 { grid-area: 3 / 6 / 13 / 13; }

#footer {
    position: relative;
}

#f1 {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

#f2 {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1000;
}

#dotaznik {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 1000;
}

a.button {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #374936;
  border-radius: 40px 0 40px 0;
  background-color: #d5cfdd;
  color: #374936;
  padding: 15px 90px;
  text-transform: uppercase;
}

a.button:hover {
    color: white;
    background-color: #374936;
}
