body {
    margin: 0;
    padding: 0;
    padding-bottom: 10rem;
    background-color: #9cab94;
}

#header {
    position: relative;
}

#photo {
    width: 100%;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
}

.title {
    font-size: 3rem;
    color: #e9ede8;
}

.subtitle {
    font-size: larger;
    margin-bottom: 1rem;
    color: white;
}

.content {
    color: white;
    display: flex;
}

.address {
    white-space: pre;
}

.underline {
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px white solid;
}

#counter-block {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: -50px;
}

.clock-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6b2c43;
    border: solid #6b2c00 1px;
    border-radius: 6px;
    width: 6rem;
    height: 6rem;
}

.clock-square span:nth-child(1) {
    margin-top: 6px;
    color: #bbbbbb;
}

.clock-square span:nth-child(2) {
    font-size: 3rem;
    color: #939181;
}

#obrad {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kostol {
    width: 150%;
    height: 150%;
}
